* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.header {
    display: flex;
    background-color: black;
    justify-content: space-between;
    align-items: center;
    padding: 20px 80px;
}

.header__navigation {
    width: 400px;
}

.header__navigation__items {
    display: flex;
    color: #fff;
    justify-content: space-between;
    align-items: center;
}

.header__navigation__items {
    list-style: none;
}

.header__navigation__item.cart {
    display: flex;
    background-color: green;
    padding: 14px 12px;
    border-radius: 40px;
    width: 128px;
    height: 48px;
    align-items: center;
    justify-content: center;
    column-gap: 12px;
}

.header__navigation__item.cart .counter {
    background-color: black;
    width: 19px;
    height: 19px;
    text-align: center;
    border-radius: 50%;
}

.navigation {
    display: flex;
    justify-content: center;
    padding: 20px;
}
.navigation__items {
    display: flex;
    justify-content: space-between;
    list-style: none;
    width: 60%;
}

.main__categoria {
    display: flex;
    flex-wrap: wrap;
    column-gap: 55px;
    row-gap: 33px;
    align-items: center;
    justify-content: center;
    margin-bottom: 60px;
}

.card {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    justify-content: center;
    align-content: center;
    width: 226px;
    height: 200px;
    border-radius: 15px;
    box-shadow: 4px 4px 20px #000;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.card__img {
    display: flex;
    width: 226px;
    height: 156px;
}

.card__paragraph {
    text-align: center;
}

.main__atleta__img {
    width: 100%;
}

.footer {
    display: flex;
    background-color: #000;
}

.footer__img {
    width: 149px;
    height: 162px;
    justify-content: center;
    align-content: center;
}

.footer__paragraph {
    color: #18CE94;
    font-size: 14px;
    line-height: 16.44px;
}